---
layout: default
title: Home
---

{% include intro.html %}

<section class="post-list">
  <div class="container container-white">

    <h2>Raaawwr..!</h2>

    {% for post in paginator.posts %}{% if post.frontpage != false %}
      <article class="post-item">
        <p><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>  — <strong><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong> — <span> {{ post.content | strip_html | truncatewords: 40 }}</span> <a class="post-link readmore" href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
      {% endif %}</article>
    {% endfor %}
  </div>

  <div class="container" style="min-width:1000px">
    {% include pagination.html %}
  </div>
</section>
