<nav class="nav">
  <div class="container" style='max-width:1000px'>
    <h1 class="logo"><img src="{{ '/assets/images/avatar.png' | prepend: site.baseurl }}" style="padding-right:5px" width="28px"/><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}<span>fun</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl }}">about</a> | <a href="{{ '/work' | prepend: site.baseurl }}">work</a></a></li>
      <li><a href="{{ "/tag" | prepend: site.baseurl }}">feed </a> | <a href="{{ "/archive" | prepend: site.baseurl }}"> archive</a></li>
    </ul>
  </div>
</nav>
