<nav class="main-nav">
    {% if page.url != "/index.html" %}
        <a href="https://vsoch.github.io/"> <span class="arrow"></span> home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href="https://vsoch.github.io/about">about </a>
        {% endif %}
    {% endif %}
    {% if page.url != "/work/" %}
        <a href="https://vsoch.github.io/work">work </a>
    {% endif %}
    <a href="https://vsoch.github.io/rawr">rawr </a>
    <a class="cta" href="https://vsoch.github.io/feed.xml">rss</a>
    <a href="#" onclick="searchToggle()"><i class="fa fa-search"></i></a>
</nav>
