    <a class="no-after social-icon" 
        target="_blank"
        href="{{ "/feed.xml" | prepend: site.baseurl }}">
      <i class="fa fa-rss"></i>
    </a>
{% if site.author.email %}
    <a class="no-after social-icon" href="mailto:{{ site.author.email }}">
      <i class="fa fa-envelope"></i>
    </a>
{% endif %}
{% if site.author.github %}
    <a class="no-after social-icon" href="{{ site.author.github }}">
      <i class="fa fa-github"></i>
    </a>
{% endif %}
{% if site.author.twitter %}
    <a class="no-after social-icon" href="{{ site.author.twitter }}">
      <i class="fa fa-twitter"></i>
    </a>
{% endif %}
