p .highlighter-rouge,
table .highlighter-rouge,
cell .highlighter-rouge {
  background-color: #F7F7F7;
}
pre.highlight,
pre.highlighter-rouge,
.highlighter-rouge, 
.highlighter-rouge pre,
.highlight,
.highlight pre { 
    background-color: #272822; 
    padding-left:20px;
    margin-top: 20px;
    margin-bottom:20px;
}
.highlighter-rouge pre {
    padding-top:20px;
    padding-bottom:20px;
}
.highlight, .highlighter-rouge .hll { background-color: #272822; }
.highlight, .highlighter-rouge .c { color: #75715e } /* Comment */
.highlight, .highlighter-rouge .err { color: #960050 } /* Error */
.highlight, .highlighter-rouge .k { color: #66d9ef } /* Keyword */
.highlight, .highlighter-rouge .l { color: #ae81ff } /* Literal */
.highlight, .highlighter-rouge .n { color: #f8f8f2 } /* Name */
.highlight, .highlighter-rouge .o { color: #f92672 } /* Operator */
.highlight, .highlighter-rouge .p { color: #f8f8f2 } /* Punctuation */
.highlight, .highlighter-rouge .cm { color: #75715e } /* Comment.Multiline */
.highlight, .highlighter-rouge .cp { color: #75715e } /* Comment.Preproc */
.highlight, .highlighter-rouge .c1 { color: #75715e } /* Comment.Single */
.highlight, .highlighter-rouge .cs { color: #75715e } /* Comment.Special */
.highlight, .highlighter-rouge .gs { font-weight: bold } /* Generic.Strong */
.highlight, .highlighter-rouge .kc { color: #66d9ef } /* Keyword.Constant */
.highlight, .highlighter-rouge .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight, .highlighter-rouge .kn { color: #f92672 } /* Keyword.Namespace */
.highlight, .highlighter-rouge .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight, .highlighter-rouge .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight, .highlighter-rouge .kt { color: #66d9ef } /* Keyword.Type */
.highlight, .highlighter-rouge .ld { color: #e6db74 } /* Literal.Date */
.highlight, .highlighter-rouge .m { color: #ae81ff } /* Literal.Number */
.highlight, .highlighter-rouge .s { color: #e6db74 } /* Literal.String */
.highlight, .highlighter-rouge .na { color: #a6e22e } /* Name.Attribute */
.highlight, .highlighter-rouge .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight, .highlighter-rouge .nc { color: #a6e22e } /* Name.Class */
.highlight, .highlighter-rouge .no { color: #66d9ef } /* Name.Constant */
.highlight, .highlighter-rouge .nd { color: #a6e22e } /* Name.Decorator */
.highlight, .highlighter-rouge .ni { color: #f8f8f2 } /* Name.Entity */
.highlight, .highlighter-rouge .ne { color: #a6e22e } /* Name.Exception */
.highlight, .highlighter-rouge .nf { color: #a6e22e } /* Name.Function */
.highlight, .highlighter-rouge .nl { color: #f8f8f2 } /* Name.Label */
.highlight, .highlighter-rouge .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight, .highlighter-rouge .nx { color: #a6e22e } /* Name.Other */
.highlight, .highlighter-rouge .py { color: #f8f8f2 } /* Name.Property */
.highlight, .highlighter-rouge .nt { color: #f92672 } /* Name.Tag */
.highlight, .highlighter-rouge .nv { color: #f8f8f2 } /* Name.Variable */
.highlight, .highlighter-rouge .ow { color: #f92672 } /* Operator.Word */
.highlight, .highlighter-rouge .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight, .highlighter-rouge .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight, .highlighter-rouge .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight, .highlighter-rouge .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight, .highlighter-rouge .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight, .highlighter-rouge .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight, .highlighter-rouge .sc { color: #e6db74 } /* Literal.String.Char */
.highlight, .highlighter-rouge .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight, .highlighter-rouge .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight, .highlighter-rouge .se { color: #ae81ff } /* Literal.String.Escape */
.highlight, .highlighter-rouge .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight, .highlighter-rouge .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight, .highlighter-rouge .sx { color: #e6db74 } /* Literal.String.Other */
.highlight, .highlighter-rouge .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight, .highlighter-rouge .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight, .highlighter-rouge .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight, .highlighter-rouge .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight, .highlighter-rouge .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight, .highlighter-rouge .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight, .highlighter-rouge .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight, .highlighter-rouge .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight, .highlighter-rouge .gh { } /* Generic Heading & Diff Header */
.highlight, .highlighter-rouge .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight, .highlighter-rouge .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight, .highlighter-rouge .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
